<div class="cell-xs-12 text-center">

    <ul class="isotope-filters-responsive">
        <li>
            <p>Choose category:</p>
        </li>
        <li class="block-top-level">
            <button data-custom-toggle="#isotope-1" data-custom-toggle-disable-on-blur="true" class="isotope-filters-toggle btn btn-sm btn-default">Filter<span class="caret"></span></button>
            <div id="isotope-1" class="isotope-filters isotope-filters-minimal isotope-filters-horizontal">
                <ul class="list-inline">
                    <li><a data-isotope-filter="*" data-isotope-group="gallery" href="#" class="active">All</a></li>
                    <li><a data-isotope-filter="Category 1" data-isotope-group="gallery" href="#">Webdesign</a></li>
                    <li><a data-isotope-filter="Category 2" data-isotope-group="gallery" href="#">UI/UX</a></li>
                    <li><a data-isotope-filter="Category 3" data-isotope-group="gallery" href="#">Branding</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>