<div data-filter="Category 2" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
    <div class="thumbnail thumbnail-variant-3">
        <figure><img src="images/gallery-grid-2-370x278.jpg" alt="" width="370" height="278">
        </figure>

    </div>
</div>