<div data-filter="Category 3" class="col-xs-12 col-sm-6 col-md-6 isotope-item text-center">
    <a href="" class="product-thumb-a">
        <div class="thumbnail thumbnail-variant-3">
            <figure><img src="images/gallery-grid-3-370x278.jpg" alt="">
            </figure>
        </div>
        <div class="product-class-rd">
            <div>Raled Voltage</div>
            <p>
                8.7/10 KV
            </p>
        </div>
    </a>
</div>