<section class="section-60 section-sm-90 section-lg-bottom-120">
    <div class="shell">
        <div class="range range-md-center">
            <div class="cell-md-4">
                <form action="search-results.html" method="GET" data-search-live-count="15" class="rd-search rd-search-minimal">
                    <div class="form-group">
                        <label for="rd-search-form-input-1" class="form-label rd-input-label">
                                <span class="text-mobile">search...</span>
                                <span class="text-default">Search</span>
                            </label>
                        <input id="rd-search-form-input-1" type="text" name="s" autocomplete="off" class="form-control">
                    </div>
                    <button type="submit" class="btn-icon-only btn-icon-only-primary"><span class="icon icon-sm material-icons-search"></span></button>
                </form>
            </div>
            <div class="cell-sm-11 offset-top-40 offset-sm-top-60">
                <div class="rd-search-results"></div>
            </div>
        </div>
    </div>
</section>