.twitter-item-minimal {
  .tweet-user {
    font-size: 16px;
    font-weight: 700;
    a {
      color: #000;
      &:active, &:focus, &:hover {
        color: #000;
      }
      &:before {
        content: '-';
      }
    }
  }
  .tweet-text a {
    color: #000;
    &:active, &:focus, &:hover {
      color: #000;
    }
  }
  * + {
    .tweet-text {
      margin-top: 0;
    }
    .tweet-user {
      margin-top: 10px;
    }
  }
  + .twitter-item-minimal {
    margin-top: 25px;
  }
}

.twitter-widget {
  overflow: hidden;
  background: #fff;
  border-radius: 6px;
  box-shadow: -1px 0px 5px 0px rgba(65, 65, 65, 0.12);
  > a {
    display: block;
    color: #9f9f9f;
  }
  .tweet-text a {
    color: #000;
    &:active, &:focus, &:hover {
      color: #000;
    }
  }
  .twitter-widget-time {
    color: #9f9f9f;
  }
  .twitter-widget-meta > * {
    line-height: 1.1;
    + * {
      margin-top: 5px;
    }
  }
  .twitter-widget-media {
    position: relative;
    z-index: 1;
    overflow: hidden;
    > img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      min-height: 101%;
    }
    &:empty {
      display: none;
    }
    &:not(:empty) {
      padding-bottom: 42.5170068%;
    }
  }
  .tweet-avatar {
    display: block;
    width: 48px;
    height: 48px;
    background: #dedede;
  }
  .twitter-widget-header {
    padding: 30px 30px 0 30px;
  }
  .twitter-widget-inset {
    padding: 25px 30px 15px;
  }
  .twitter-widget-footer {
    padding: 15px 30px;
  }
}

* + .twitter-widget {
  margin-top: 30px;
}