.image-group {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -ms-flex-align: end;
    align-items: flex-end;
    img {
        position: relative;
        height: auto !important;
        max-width: none;
        width: 100% !important;
    }
    figure {
        position: relative;
        &:nth-child(1) {
            z-index: 3;
            max-width: 194px;
            min-width: 29%;
            img {
                transform: translateY(-1.7%);
                left: -3px;
            }
        }
        &:nth-child(2) {
            z-index: 2;
            max-width: 404px;
            min-width: 60%;
            margin-left: 9.5%;
            img {
                transform: translateY(8%);
            }
        }
        &:nth-child(3) {
            z-index: 1;
            max-width: 546px;
            min-width: 82%;
            margin-left: -42.5%;
            img {
                transform: translateY(-1.9%);
            }
        }
    }
    &-extended {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}

@media (min-width: 768px) {
    .image-wrap-1 {
        padding-right: 15px;
    }
}

@media (min-width: 1200px) {
    .image-wrap-1 {
        padding-right: 0;
        margin-right: -10px;
    }
}

.image-wrap-1 img {
    max-width: 107%;
}

@media (min-width: 992px) {
    .image-wrap-2 {
        position: relative;
        right: -14px;
        top: 12px;
    }
}

.image-wrap-3 {
    position: relative;
    transform: translate3d(0, 0, 0) scale(1.02);
    margin-top: -5px;
    margin-left: -53px;
}