.pagination-custom {
    position: relative;
    display: inline-block;
    position: relative;
    transform: translateY(-8px);
    margin-bottom: -8px;
    >* {
        margin-top: 8px;
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
    li {
        display: inline-block;
        line-height: 1; // a
        a {
            display: block;
            width: auto;
            min-width: 52px;
            height: 52px;
            padding: 10px 20px;
            border: 1px solid;
            border-radius: 3px;
            text-transform: uppercase;
            vertical-align: middle;
            &:after {
                content: '';
                height: 108%;
                width: 0;
                display: inline-block;
                vertical-align: middle;
            }
            &,
            &:active,
            &:focus {
                color: #000;
                background: transparent;
                border-color: #cdcdcd;
            }
            &:hover {
                color: #fff;
                background: #000;
                border-color: #000;
            }
        } // li
        &.disabled,
        &.active {
            pointer-events: none;
        }
        // li
        &.active a {
            color: #fff;
            background: #000;
            border-color: #000;
        }
        // li
        &.disabled a {
            color: #f9f9f9;
            background: #cdcdcd;
            border-color: #cdcdcd;
        }
    }
}