
h1,
.h1 {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -.025em;
  @include media(min, $Media-pad) {
    font-size: 40px;
  }
  @include media(min, $Media-pc) {
    font-size: 70px;
  }
  @include media(min, $Media-pc-big) {
    line-height: 1.07692;
    font-size: 104px;
  }
}

h2,
.h2 {
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: -.025em;
  @include media(min, $Media-pad) {
    font-size: 32px;
  }
  @include media(min, $Media-pc) {
    font-size: 40px;
  }
  @include media(min, $Media-pc-big) {
    line-height: 1.18644;
    font-size: 48px;
  }
}

h3.text-style-lighter,
.h3.text-style-lighter {
  font-weight: 400;  
  @include media(min, $Media-pc) {
    font-size: 50px;
  }
}



h3,
.h3 {
  font-size: 24px;
  line-height: 1.35;

  @include media(min, $Media-pad) {
    font-size: 26px;
  }
  @include media(min, $Media-pc) {
    font-size: 30px;
  }
  @include media(min, $Media-pc-big) {
    line-height: 1.21212;
    font-size: 33px;
  }
}


h4,
.h4 {
  font-size: 20px;
  line-height: 1.35;

  @include media(min, $Media-pad) {
    font-size: 24px;
  }
  @include media(min, $Media-pc) {
     font-size: 26px;
  }
  @include media(min, $Media-pc-big) {
    line-height: 1.52;
    font-size: 25px;
  }

}

h5,
.h5 {
  font-size: 16px;
  line-height: 1.35;

  @include media(min, $Media-pc-big) {
    line-height: 1.47368;
    font-size: 19px;
  }

}

h6,
.h6 {
  font-size: 15px;
  line-height: 1.2;

  @include media(min, 480px) {
    line-height: 1.5;
    font-size: 16px;
  }
}

.h7 {
  text-transform: uppercase;
  color: #414141;
}