.link {
    display: inline-block; // inline: 
    &-inline {
        font: inherit;
        line-height: inherit;
        text-decoration: underline;
    } // underline
    &-underline {
        &,
        &:active,
        &:focus {
            text-decoration: underline;
        }
        &:hover {
            text-decoration: none;
        }
    } // circle
    &-circle {
        border-radius: 50%;
        .icon,
        .icon:before {
            position: static;
        }
    }
}

.link-group {
    white-space: nowrap;
    * {
        vertical-align: middle;
    }
    span {
        display: inline-block;
    }
    span+*,
    *+span {
        margin-left: 5px;
    }
    &.link-group-animated {
        .icon {
            position: relative;
            right: 0;
            transition: .22s;
        }
        &:hover .icon {
            right: -5px;
        }
        .link-group-baseline * {
            vertical-align: baseline;
        }
    }
}

.link-icon,
.link-icon * {
    vertical-align: middle;
}

.link-icon .icon {
    margin-right: 5px;
}

.link-icon-mod .icon {
    position: relative;
    top: -3px;
}

.link-image {
    img {
        width: auto;
        transition: .44s all ease;
        opacity: .5;
    }
    &:hover img {
        opacity: 1;
    }
    &-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        min-height: 126px;
    }
}

*+.link-image-wrap {
    margin-top: 13px;
}

.link-primary-inline {
    color: #000;
    &.active,
    &:active,
    &:focus {
        color: #9b9b9b;
    }
    &.hover,
    &:hover {
        color: #42b294;
    }
}

.link-default,
.link-default:active,
.link-default:focus {
    color: #9f9f9f;
}

.link-default:hover {
    color: #000;
}

.link-primary,
.link-primary:active,
.link-primary:focus {
    color: #000;
}

.link-primary:hover {
    color: #00030a;
}

.link-primary-inverse,
.link-primary-inverse:active,
.link-primary-inverse:focus {
    color: #000;
}

.link-primary-inverse:hover {
    color: #ddd;
}

.link-primary-inverse-v2,
.link-primary-inverse-v2:active,
.link-primary-inverse-v2:focus {
    color: #000;
}

.link-primary-inverse-v2:hover {
    color: #fff;
}

.link-secondary,
.link-secondary:active,
.link-secondary:focus {
    color: #00030a;
}

.link-secondary:hover {
    color: #000;
}

.link-tundora,
.link-tundora:active,
.link-tundora:focus {
    color: #414141;
}

.link-tundora:hover {
    color: #000;
}

.link-tundora-inverse,
.link-tundora-inverse:active,
.link-tundora-inverse:focus {
    color: #414141;
}

.link-tundora-inverse:hover {
    color: #fff;
}

.link-secondary,
.link-secondary:active,
.link-secondary:focus {
    color: #000;
}

.link-secondary:hover {
    color: #000;
}

.link-gray-light,
.link-gray-light:active,
.link-gray-light:focus {
    color: #dedede;
}

.link-gray-light:hover {
    color: #000;
}

.link-white,
.link-white:active,
.link-white:focus {
    color: #fff;
}

.link-white:hover {
    color: #000;
}

.link-white-v2,
.link-white-v2:active,
.link-white-v2:focus {
    color: #fff;
}

.link-white-v2:hover {
    color: #ababab;
}

.link-white-03,
.link-white-03:active,
.link-white-03:focus {
    color: rgba(255, 255, 255, 0.3);
}

.link-white-03:hover {
    color: #000;
}

.link-gray-base-v2,
.link-gray-base-v2:active,
.link-gray-base-v2:focus {
    color: rgba(0, 0, 0, 0.6);
}

.link-gray-base-v2:hover {
    color: #000;
}

.link-gray-base-v2:hover {
    text-decoration: underline;
}

.link-gray-dark-filled,
.link-gray-dark-filled:active,
.link-gray-dark-filled:focus {
    color: #fff;
    background: #2a2b2b;
}

.link-gray-dark-filled:hover {
    color: #fff;
    background: #000;
}

.link-shop {
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
}

.link-shop,
.link-shop:active,
.link-shop:focus {
    color: #00030a;
}

.link-shop:hover {
    color: #000;
}