.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.71429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable {
  &:active, &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

[role="button"] {
  cursor: pointer;
}

.brand {
  /**
    @bugfix: color flickering in child objects on hover
    @affected: IE Edge
  */
  transition: none !important;
  fill: #000;
  &:active, &:focus, &:hover {
    fill: #000;
  }
}

.brand-inverse {
  fill: #fff;
  &:active, &:focus, &:hover {
    fill: #fff;
  }
}

.brand-md img {
  width: 162px !important;
  height: 26px !important;
}

.rights {
  display: inline-block;
  margin: 0;
  line-height: 1.5;
  letter-spacing: .025em;
  vertical-align: baseline;
  * {
    display: inline;
    margin-right: .25em;
  }
}

.page-foot-default .rights {
  color: #999;
  font-weight: 400;
}

.privacy-link {
  margin-top: 30px;
}

.icon {
  display: inline-block;
  text-align: center;
  &:before {
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

[class*='icon-circle'] {
  border-radius: 50%;
  overflow: hidden;
}

[class*='icon-round'] {
  border-radius: 4px;
  overflow: hidden;
}

.icon-default {
  color: #9f9f9f;
}

.icon-gray-base, .icon-primary {
  color: #000;
}

.icon-gunsmoke {
  color: #767877;
}

.icon-tundora {
  color: #414141;
}

.icon-gray-dark-filled {
  color: #fff;
  /*background: #2a2b2b;*/
}

.icon-silver-chalice-filled {
  color: #fff;
  background: #ababab;
}

.icon-white {
  color: #fff;
}

a {
  &.icon-default {
    color: #9f9f9f;
    &:active, &:focus {
      color: #9f9f9f;
    }
    &:hover {
      color: #000;
    }
  }
  &.icon-primary {
    color: #000;
    &:active, &:focus {
      color: #000;
    }
    &:hover {
      color: #fff;
    }
  }
  &.icon-tundora-inverse {
    color: #414141;
    &:active, &:focus {
      color: #414141;
    }
    &:hover {
      color: #fff;
    }
  }
  &.icon-gray-dark-filled {
    color: #7b7b7b;
    /*background: #2a2b2b;*/
    &:active, &:focus {
      color: #7b7b7b;
      /*background: #2a2b2b;*/
    }
    &:hover {
      color: #fff;
      background: #000;
    }
  }
  &.icon-silver-chalice-filled {
    color: #fff;
    background: #ababab;
    &:active, &:focus {
      color: #fff;
      background: #ababab;
    }
    &:hover {
      color: #fff;
      background: #000;
    }
  }
}

.icon-xxs {
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
}

.icon-xxs-small {
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.icon-xxs-smaller {
  width: 14px;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
}

.icon-xxs-smallest {
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 12px;
}

.icon-xs {
  width: 22px;
  height: 22px;
  font-size: 22px;
  line-height: 22px;
}

.icon-xs-smaller {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.icon-sm, .icon-sm-custom {
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
}

@media (min-width: 992px) {
  .icon-sm-custom {
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
  }
}

.icon-md {
  width: 36px;
  height: 36px;
  font-size: 36px;
  line-height: 36px;
}

.icon-md-custom {
  width: 26px;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
}

@media (min-width: 992px) {
  .icon-md-custom {
    width: 36px;
    height: 36px;
    font-size: 36px;
    line-height: 36px;
  }
}

.icon-md-smaller {
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
}

.icon-lg {
  width: 48px;
  height: 48px;
  font-size: 48px;
  line-height: 48px;
}

.icon-lg-variant-1 {
  width: 42px;
  height: 42px;
  font-size: 42px;
  line-height: 42px;
}

.icon-lg-variant-2 {
  width: 44px;
  height: 44px;
  font-size: 44px;
  line-height: 44px;
}

.icon-lg-bigger {
  width: 50px;
  height: 50px;
  font-size: 50px;
  line-height: 50px;
}

.icon-xl {
  width: 60px;
  height: 60px;
  font-size: 60px;
  line-height: 60px;
}

[class*='icon-round'].icon-xxs-smallest, [class*='icon-circle'].icon-xxs-smallest {
  width: 26px;
  height: 26px;
  line-height: 26px;
}

.icon-shift-1, .icon-shift-2 {
  position: relative;
  top: 2px;
}

@media (min-width: 992px) {
  .icon-shift-2 {
    top: 4px;
  }
}