



@media (min-width: 768px) {
    .shift-sm-top-1 {
        margin-top: -18px;
    }
}

@media (min-width: 992px) {
    .shift-sm-top-1 {
        margin-top: -23px;
    }
}

@media (min-width: 992px) {
    .shift-md-top-1 {
        margin-top: -33px;
    }
}

@media (min-width: 1200px) {
    .shift-md-top-1 {
        margin-top: -43px;
    }
}