.soundcloud-player-classic {
  width: 100%;
}

.soundcloud-player-classic iframe {
  width: 100%;
  border: 0;
}

.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 10px;
  overflow: auto;
}
