<section>
    <div data-loop="false" data-autoplay="false" data-simulate-touch="true" class="swiper-container swiper-slider swiper-variant-1 ">
        <div class="swiper-wrapper ">
            <div data-slide-bg="images/home-slider-1-slide-1.jpg" class="swiper-slide">
                <div class="swiper-slide-caption">
                    <div class="shell">
                        <div class="range ">
                            <div class="cell-sm-11 cell-md-10 cell-lg-9">
                                <h2 data-caption-animate="fadeInUp" data-caption-delay="0s" class="slider-header slider-header-index">Eco cable</h2>
                                <p data-caption-animate="fadeInUp" data-caption-delay="100" class="slider-text slider-text-index">
                                    Brightpower's eco wires and cables are manufactured with unique new eco materials produced using its sophisticated eco-technology.
                                </p>
                                <div class="group-xl-responsive offset-top-30 offset-sm-top-45 slider-btn-index">
                                    <a data-caption-animate="fadeInUp" data-caption-delay="250" href="#" data-custom-scroll-to="section-start-journey" class="">SEE MORE  &nbsp;></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-slide-bg="images/home-slider-1-slide-1.jpg" class="swiper-slide">
                <div class="swiper-slide-caption">
                    <div class="shell">
                        <div class="range ">
                            <div class="cell-sm-11 cell-md-10 cell-lg-9">
                                <h2 data-caption-animate="fadeInUp" data-caption-delay="0s" class="slider-header slider-header-index">Eco cable</h2>
                                <p data-caption-animate="fadeInUp" data-caption-delay="100" class="slider-text slider-text-index">
                                    Brightpower's eco wires and cables are manufactured with unique new eco materials produced using its sophisticated eco-technology.
                                </p>
                                <div class="group-xl-responsive offset-top-30 offset-sm-top-45 slider-btn-index">
                                    <a data-caption-animate="fadeInUp" data-caption-delay="250" href="#" data-custom-scroll-to="section-start-journey" class="">SEE MORE  &nbsp;></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination-wrap">
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-scrollbar"></div>
        <!--<div class="swiper-nav-wrap">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>-->
    </div>
</section>