<section class="section-40 section-sm-60">
    <div class="shell">
        <div class="range range-xs-center">
            <div class="cell-xs-10 cell-sm-11 cell-md-12">
                <div class="range">
                    <div class="cell-sm-6 cell-md-4 text-sm-left text-center">
                        <h6 class="text-uppercase font-adonide_bold">OUR COMPANY</h6>
                        <div class="row offset-top-22 offset-md-top-30">
                            <div class="col-xs-12">
                                <ul class="list-marked-variant-2">
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Contact</a></li>
                                    <li><a href="">News & Events</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cell-sm-6 cell-md-4  text-sm-left text-center">
                        <h6 class="text-uppercase font-adonide_bold">OUR PRODUCTS</h6>
                        <div class="row offset-top-22 offset-md-top-30">
                            <div class="col-xs-12">
                                <ul class="list-marked-variant-2">
                                    <li><a href="">Cables & Accessories</a></li>
                                    <li><a href="">Industrial Atoumation Device</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cell-sm-6 cell-md-4  text-sm-left text-center">
                        <h6 class="text-uppercase font-adonide_bold">Follow us</h6>
                        <div class="row offset-top-22 offset-md-top-30">
                            <div class="col-xs-12">
                                <div>
                                    <ul class="list-inline list-inline-reset">
                                        <li>
                                            <a href="#" class="icon icon-round icon-gray-dark-filled icon-xxs-smallest fa fa-envelope-o fa-fw"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="icon icon-round icon-gray-dark-filled icon-xxs-smallest fa fa-facebook"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="icon icon-round icon-gray-dark-filled icon-xxs-smallest fa fa-twitter"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<footer class="page-foot page-foot-default section-35 bg-gray-base">
    <div class="shell">
        <div class="range text-center">
            <div class="cell-xs-12">
                <p class="rights small">
                    ©2017 Brightpower trading(SH)Co.,Ltd.
                </p>
            </div>
        </div>
    </div>
</footer>