<div class="page-loader page-loader-variant-1">
    <div>
        <a href="index.html" class="brand brand-md">
            <img src="imgs/logo.png" width="139" height="22" alt="logo" />
        </a>
        <div class="page-loader-body">

            <div class="load-line">
                <div class="load-bar"></div>
            </div>

        </div>
    </div>
</div>