<div class="shell">
    <div class="range range-md-bottom range-sm-center">
        <div class=" cell-md-6 cell-sm-6">
            <a href="">
                <i class="fa fa-long-arrow-left"></i> YJLV22
            </a>
        </div>
        <div class="cell-md-6 cell-sm-6 text-right">
            <a href="">
                            YJLV22
                            <i class="fa fa-long-arrow-right"></i>
                        </a>
        </div>
    </div>
</div>