<div class="shell">
    <div class="range">
        <div class="cell-xs-6 cell-mm-6 flex align-items-center">
            <a href="" class="flex">
                <span class="flex align-items-center">
                    <i class="fa fa-long-arrow-left"></i>
                    &nbsp;
                </span>
                <span>
                    YJLV22
                </span>
            </a>
        </div>
        <div class="cell-xs-6 cell-mm-6 flex align-items-center">
            <a href="" class="flex flex-n2">
                <span class="word-break-all flex-n2 text-right">
                    YJLV22YJLV22YJLV22YJLV22YJLV22YJLV22YJLV22YJLV22YJLV22YJLV22
                </span>
                <span class="flex align-items-center">
                    &nbsp;<i class="fa fa-long-arrow-right"></i>
                </span>

            </a>
        </div>
    </div>
</div>
<div class="section-30"></div>
<div class="shell">
    <div class="range">
        <div class="cell-xs-6 cell-mm-6 flex align-items-center">
            <a href="" class="flex">
                <span class="flex align-items-center">
                    <i class="fa fa-long-arrow-left"></i>
                    &nbsp;
                </span>
                <span>
                    YJLV22
                </span>
            </a>
        </div>
        <div class="cell-xs-6 cell-mm-6 flex align-items-center">
            <a href="" class="flex flex-n2">
                <span class="word-break-all flex-n2 text-right">
                    YJLV22YJLV22YJLV
                </span>
                <span class="flex align-items-center">
                    &nbsp;<i class="fa fa-long-arrow-right"></i>
                </span>

            </a>
        </div>
    </div>
</div>