<section class="about-footer product-bg">
    <div class="">
        <div class="range range-md-justify offset-top-30 offset-sm-top-40">
            <div class="cell-sm-6 no-cell-pl">
                <figure>
                    <img src="./imgs/service-pic.png" alt="" >
                </figure>
            </div>
            <div class="cell-sm-6 offset-top-30 offset-sm-top-0 no-cell-pl about-footer-content flex-sm-box-last flex-sm-top flex-sm">
                <div class="color-n23 padding-n10 text-gray-darker">
                    <h6 class="h2  text-center text-sm-left">
                        SERVICE
                    </h6>
                    <p class="text-justify">
                        We conform to the standards to ensure quality, and we conform to our customer’s needs to ensure satisfaction. For more information
                        on our products and services, or to request a quote, please contact us today
                    </p>

                </div>
                <div class="color-n23 padding-n10 about-more text-center text-sm-right">
                    <a href="" class="font-n24 hover hover-x-n5 color-n23">GET IN TOUCH &nbsp; <span class="fa fa-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>