<section class="about-footer bg-whisper">
    <div class="shell">
        <div class="range range-md-justify offset-top-30 offset-sm-top-40">
            <div class="cell-sm-6 no-cell-pl">
                <figure><img src="images/typography-3-570x386.jpg" alt="" width="570" height="386">
                </figure>
            </div>
            <div class="cell-sm-6 offset-top-30 offset-sm-top-0 no-cell-pl about-footer-content">
                <div class="text-gray-darker">
                    <h2 class="about-service-title font-adonide">
                        SERVICE
                    </h2>
                    <p class="text-justify">
                        We conform to the standards to ensure quality, and we conform to our customer’s needs to ensure satisfaction. For more information
                        on our products and services, or to request a quote, please contact us today
                    </p>
                    <div class="about-more text-right">
                        <a href="">GET IN TOUCH  <span class="fa fa-arrow-right"></span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>