<div class="col-md-6 section-30 contact-pep">
    <div class="col-md-4">
        <img src="images/blog-classic-2-113x113.png" alt="" width="113" height="113">
    </div>
    <div class="col-md-8">
        <div class="name font-size-n30 font-adonide_regular">NAME</div>
        <div class="font-size-n18">Positions of responsibility</div>
        <div>
            <i class="fa fa-phone"></i> +86 13681813339 <br />
            <i class="fa fa-envelope-o fa-fw"></i> zichuan.zhang@hotmail.com
        </div>
    </div>
</div>