// function
@import "media";
@import "const";

// libs
@import "./libs/min.scss";
@import "./libs/animate.scss";
@import "./libs/material.scss";
@import "./libs/fa.scss";
@import "./libs/google.scss";
@import "./libs/owl.scss";
@import "./libs/swiper.scss";
@import "./libs/fl-flat.scss";
@import "./libs/select2.scss";
@import "./libs/Toolkit.scss";
@import "./libs/parallax.scss";
@import "./libs/totop.scss";

// layouts
@import "./layouts/offset.scss";
@import "./layouts/inset.scss";
@import "./layouts/visible.scss";
@import "./layouts/unit.scss";
@import "./layouts/flex.scss";
@import "./layouts/padding.scss";

// base ui
// @import "./base/loader.scss";
@import "./base/navbar.scss";
@import "./base/pagination.scss";
@import "./base/search.scss";
@import "./base/image-group.scss";
@import "./base/thumbnail.scss";
@import "./base/base.scss";
@import "./base/hover.scss";

// fonts
@import "./fonts/h1.scss";
@import "./fonts/color.scss";
@import "./fonts/size.scss";


// form
@import "./form/btn.scss";
@import "./form/form.scss";

// text
@import "./text/text.scss";
@import "./text/word.scss";

// module
@import "./module/page.scss";
// @import "./module/comment.scss";
@import "./module/post.scss";
// @import "./module/shop.scss";
@import "./module/product.scss";
// @import "./module/one-screen.scss";

// master

// ui
@import "./ui/o1.scss";
@import "./ui/o2.scss";
@import "./ui/o3.scss";
@import "./ui/icon-box.scss";
@import "./ui/block-image.scss";
@import "./ui/block-vacation.scss";
@import "./ui/block-shadow.scss";
@import "./ui/link.scss";
@import "./ui/bg.scss";

// list
@import "./list/list.scss";
@import "./list/list-blocks.scss";


// tabs
// @import "./tab/tabs.scss";
@import "./tab/isotope.scss";
// @import "./tab/panel.scss";
// @import "./tab/slick.scss";
// @import "./tab/pricing.scss";
// @import "./tab/stepper.scss";
// @import "./tab/time.scss";
// @import "./tab/progress.scss";
// @import "./tab/quote.scss";

// mend
@import "./mend/end.scss";
@import "./mend/mend.scss";

// other
// @import "./other/shift.scss";
// @import "./other/object.scss";
// @import "./other/box-counter.scss";
// @import "./other/divider.scss";
// @import "./other/dtp.scss";
// @import "./other/style.scss";
// @import "./other/mfp.scss";
// @import "./other/pswp.scss";
// @import "./other/countdown.scss";

// third
// @import "./third/twitter.scss";