.rd-megamenu-header{
    font-size: 14px;
}

.link-lang{
    font-size: 13px;
    color: $match-colors;
}
.color-blue{
    color: $match-colors!important;
}
.product-bg{
    background-color: #f0f0f0;
}

.bring-bring-index{
    background-image: url(../imgs/index-bring-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.color-black{
    color: #000;
}

.font-size-h1{

    font-size: 22px;
   
    @include media(min, 320px){
        font-size: 22px;
    }
    @include media(min, 760px){
        font-size: 24px;
    }
    @include media(min, 910px){
        font-size: 36px;
    }
     @include media(min, 1200px){
        font-size: 48px;
    }
}

.hide-none{
    display: none;
}


@media (min-width: 480px) {
    .show-xs{
        display: block;
    }
}

@media (min-width: 768px) {
    .show-sm{
        display: block;
    }
}