.product-title {
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 10px;
  h6 {
    font-size: 14px;
    color: #000;
  }
  p {
    margin-top: 5px;
    font-size: 14px;
    color: #000;
  }
}

.product-new {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  border-radius: 100%;
  top: 20px;
  right: 40px;
  background-color: $match-colors;
  z-index: 999;
  color: #FFF;
}

.index-product-item a {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-blue-ma {
  color: #fff;
  background-color: $match-colors;
  border-color: $match-colors;
  &:hover {
    opacity: .8;
  }
}

.find-us {
  position: relative;
  transform: translateY(-23px);
  color: $match-colors;
  .fa {
    color: $match-colors;
  }
  &:hover {
    opacity: .8;
  }
}

.about-blockquote {
  padding-left: 20px;
  font-size: 26px;
  border-left: 5px solid #232323;
  color: #232323;
}

.about-description {
  padding: 80px 0;
  p {
    font-size: 16px;
    color: #232323;
  }
}

.about-other-wrap {
  max-width: 800px;
  margin: 50px auto;
  font-size: 16px;
  p {
    font-size: 16px;
    color: #232323;
  }
}

.no-cell-pl {
  padding-left: 0;
  padding-right: 0;
}

.about-footer-content {
  background-color: #f5f5f5;
  padding: 20px;
}

.about-more {
  padding-top: 30px;
}

.ajax-more-btn {
  .fa {
    /*visibility: hidden;*/
    margin-left: 10px;
    display: none;
  }
  &.ajax-loading .fa {
    /*visibility:inherit;*/
    display: inline-block;
  }
}

.product-details-title {
  h3 {
    font-size: 24px;
    color: #666;
  }
  p {
    font-size: 16px;
    color: #666;
  }
}

.product-paging {
  background-color: $match-colors;
  a {
    color: #FFF;
    &:hover {
      color: #333;
    }
  }
}

.news-paging a {
  color: #232323;
  &:hover {
    color: #333;
  }
}

.new-detail-max-width {
  max-width: 800px;
  margin: 0 auto;
}

.main-title-color {
  color: #232323;
}

.new-detail-title {
  font-size: 26px;
}

.new-detail-time {
  padding-bottom: 30px;
}

.new-detail-body {
  padding-top: 30px;
  color: #232323;
}

.index-blog figure {
  overflow: hidden;
  img {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

.big-blog-list {
  position: relative;
}

.big-blog-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  cursor: pointer;
  padding: 20px;
  transition: .5s;
  a {
    display: block;
    height: 100%;
    width: 100%;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.index-blog-title {
  color: #FFF;
  position: absolute;
  top: 40%;
  font-size: 18px;
  right: 20px;
  left: 20px;
}

.index-blog-more {
  width: 100%;
  left: 20px;
  right: 20px;
  color: #FFF;
  position: absolute;
  bottom: 20px;
  font-size: 16px;
}

@media (min-width: 992px) {
  .index-blog {
    .big-figure {
      max-height: 360px;
    }
    .small-figure {
      max-height: 180px;
    }
  }
  .index-blog-title {
    font-size: 18px;
  }
  .index-blog-more {
    font-size: 12px;
  }
}

@media (min-width: 1580px) {
  .index-blog {
    .big-figure {
      max-height: 560px;
    }
    .small-figure {
      max-height: 280px;
    }
  }
}

.product-class-rd {
  display: inline-block;
  border-radius: 100%;
  margin-top: -60px;
  background-color: $match-colors;
  color: #FFF;
  width: 120px;
  height: 120px; // overflow: hidden;
  align-items: center;
  vertical-align: middle;
  position: relative;
  z-index: 99;
  position: relative;
  box-shadow: 0 24px 21px -16px rgba(0,0,0,.4), 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
  
  &:before {
    position: absolute;
    z-index: 0;
    content: '';
  }
  >div {
    position: relative;
    z-index: 1;
    padding-top: 28px;
    font-size: 12px;
  }
}

// .shadow-rad {
//   position: absolute;
//   z-index: 0;
//   display: inline-block;
//   width: 120px;
//   height: 40px;
//   border-radius: 50px;
//   background-color: #f0f0f0;
//   left: 50%;
//   margin-left: -60px;
//   right: 0;
//   bottom: -40px;
//   box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
// }

.product-thumb-a {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 20px;
  // background-color: darkcyan;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.contact-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50%;
  /*margin-top: -50%;*/
  z-index: -1;
  background-color: #FFF;
}

@media (min-width: 992px) {
  .contact-desc {
    height: 660px;
  }
  .contact-desc-bottom {
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 1200px) {
  .contact-desc {
    height: 826px;
  }
  .contact-desc-bottom {
    position: absolute;
    bottom: 0;
  }
}

.contact-desc {
  color: #333;
  .th-box {
    margin: 20px 0;
  }
}

.contact-desc-top a {
  color: #333;
  font-size: 20px;
}

.contact-desc-bottom {
  /*position: absolute;*/
  bottom: 0;
}

.contact-pep {
  color: #333;
  .desc {
    padding-bottom: 10px;
  }
}

.down-pdf {
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #FFF;
  background-color: #d72219;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px;
  display: flex;
  image-rendering: auto;
  align-items: center;
  justify-content: center;
}

.down-btn-wp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.down-btn {
  display: inline-block;
  padding: 5px 12px;
  background-color: $match-colors;
  color: #FFF;
  border-radius: 16px;
  &:hover {
    opacity: .8;
  }
}

.isotope a {
  max-width: 100%;
}

.disabled{
  &.owl-nav{

    div{
      display: none;
    }

  }
}