<!--blog-->
<section class="index-blog product-bg section-50">
    <div class="">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-md-pd-0 big-blog-list">
                <figure class="big-figure">
                    <img src="./imgs/big.png" alt="">
                </figure>
                <div class="big-blog-bg text-center text-md-left">

                    <a href="" class="">
                        <h3 class="text-center color-nfff">
                            News & Events
                        </h3>
                        <p class="index-blog-title text-overflow">
                            California Farm Selects Us to ...
                        </p>
                        <div class="index-blog-more ">
                            READ MORE
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-md-pd-0 text-center text-md-left">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-md-pd-0 big-blog-list ">
                        <figure class="small-figure">
                            <img src="./imgs/small2.png" alt="">
                        </figure>
                        <div class="big-blog-bg">
                            <a href="">
                                <h6 class="index-blog-title">
                                    California Farm Selects Us to ...
                                </h6>
                                <div class="index-blog-more">
                                    READ MORE
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-md-pd-0 big-blog-list">
                        <figure class="small-figure">
                            <img src="./imgs/small.png" alt="">
                        </figure>
                        <div class="big-blog-bg">
                            <a href="">
                                <h6 class="index-blog-title">
                                    California Farm Selects Us to ...
                                </h6>
                                <div class="index-blog-more">
                                    READ MORE
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-md-pd-0 big-blog-list">
                        <figure class="small-figure">
                            <img src="./imgs/small2.png" alt="">
                        </figure>
                        <div class="big-blog-bg">
                            <a href="">
                                <h6 class="index-blog-title">
                                    California Farm Selects Us to ...
                                </h6>
                                <div class="index-blog-more">
                                    READ MORE
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-md-pd-0 big-blog-list">
                        <figure class="small-figure">
                            <img src="./imgs/small.png" alt="">
                        </figure>
                        <div class="big-blog-bg">
                            <a href="">
                                <h6 class="index-blog-title">
                                    California Farm Selects Us to ...
                                </h6>
                                <div class="index-blog-more">
                                    READ MORE
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--blog end-->