<section id="section-start-journey" class="section-50 section-sm-90 section-lg-top-120 section-lg-bottom-145 bring-bring-index">
    <div class="shell">
        <div class="range range-md-middle range-sm-center">
            <div data-wow-duration="2s" data-wow-offset="200" class="cell-sm-10 cell-md-8 wow fadeInLeft">

                <p class="font-size-h1 color-black font-adonide offset-top-0">Bring your future with</p>
                <p class="font-size-h1 color-black font-adonide offset-top-0">professional & confidence.</p>
         

            </div>
            <div class="cell-sm-11 cell-md-4 offset-top-0  offset-sm-top-60 offset-md-top-0">
                <div class="image-group hide-none show-sm" style="text-align: right" >
                    <figure></figure>
                    <!--<figure data-wow-duration=".9s" data-wow-delay=".4s" data-wow-offset="200" class="wow fadeInRightMedium"><img src="imgs/index-2.png" alt="" width="508" height="341" />-->
                    <!--</figure>-->
                    <figure data-wow-duration=".9s" data-wow-delay=".8s" data-wow-offset="100" class="wow fadeInRightSmall"><img src="imgs/index-2.png" alt="" width="394" height="396" />
                    </figure>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="section-bottom-60">
            <div class="shell text-justify">
                <div class="range  range-sm-center">
                    <div data-wow-duration="2s" data-wow-offset="200" class="cell-sm-12 offset-top-40  cell-md-5 wow fadeInLeft">


                        <p class="text-secondary">
                            Cables of the F-LINK-L series are specifically designed for building LonWorks based networks. LonWorks is the name of the
                            intelligent distributed control networking technology platform developed by Echelon. LonWorks
                            networks are used in a wide variety of applications including automating building and various
                            industrial processes, supervision and control of energy and transportation systems, etc.
                        </p>

                    </div>
                    <div class="cell-sm-12 cell-md-7 offset-top-40">
                        <div data-wow-duration="2s" data-wow-offset="200" class="wow fadeInRight">

                            <p class="text-secondary">
                                Brightpower’s KVVP series provides cables which are manufactured specifically to comply with the characteristics required
                                for LonWorks based networks. They are ideal for building your intelligent distributed network
                                control system with LonWorks.
                            </p>
                            <p class="text-secondary">
                                - These cables conform to the RoHS directive. <br /> - Cables meeting eco-specifications
                                are also available.
                            </p>
                            <p>

                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </section>